* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#sectionCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
/* Media Queries */
@media screen and (min-width: 1200px) {
    #sectionCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
    }
}
@media screen and (max-width: 992px) {
    #sectionCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
}
@media screen and (max-width: 768px) {
    #sectionCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
}
@media screen and (max-width: 576px) {
    #sectionCards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }
}